.app{
    background-color: #b2d1f0;
    font-family: Georgia, serif;
    color: #443c3c;
    padding: 50px;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 10px 14px 20px;
    border-radius: 10px;
    background-color: #b2d1f0;
    border-radius: 10px;
    box-shadow: 0px 4px 20px;
}

.icon-container{
     background-color: #3b82f6;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     margin: 20px auto;
     display: flex;
     justify-content: center;
     align-items: center;
}

.code-inputs{
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 20px;
}
.code-inputs input{
    width: 98px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.submitbtn{
    width: 100%;
    background-color:#e67e00 ;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}


.timer{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 5px;
}

@media (max-width: 1024px) {
    .app {
      width: 80%;
      padding: 40px;
      margin-bottom: 450px;
    }
  }
  
  @media (max-width: 768px) {
    .app {
      width: 90%;
      padding: 30px;
      margin-bottom: 250px;
    }
  
    .code-inputs input {
      width: 80px;
      height: 28px;
      font-size: 16px;
    }
  
    .submitbtn {
      font-size: 14px;
      padding: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .app {
      width: 95%;
      padding: 10px;
      margin-bottom: 200px;
    }
  
    .code-inputs input {
      width: 60px;
      height: 25px;
      font-size: 14px;
    }
  
    .submitbtn {
      font-size: 12px;
      padding: 10px;
    }
  
    .timer {
      font-size: 16px;
    }
  }
