
.dashboard-container {
    text-align: center;
    padding: 50px;
    width: 600px;
    height: 600px;
    background-color: #b2d1f0;
    font-family: Georgia, serif;
    border-radius: 10px;
    box-shadow: 0px 4px 20px;
    color: #443c3c;
}
.arrow-back {
    cursor: pointer;
    color: black;
    display: flex;
    margin-left: 590px;
    font-size: 2rem;
}

.profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
  }

.options-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;
    margin-top: 20px;
}

.option-card {
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0px 4px 20px;
}

.option-card:hover {
    transform: scale(1.05);
}

.option-card p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.ptag{
    margin-right: 64%;
    font-size: 17px;
}

