.container{
    font-family: Georgia, serif;
    padding: 20px;
    background-color: #b2d1f0;
    text-align: center;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px;
    color: #443c3c;
}
h1{
    font-size: 2rem;
    margin-bottom: 5px;
    text-align: left;
}
.area-list{
    list-style: none;
    padding: 0;
}
.area-item{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin: 10px 0;
    padding: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px(0, 0, 0, 0.1);
}

.icon-placeholder{
    width: 40px;
    height: 40px;
    background-color: #bdbdbd;
    border-radius: 55%;
    margin-right: 10px;
    
}

.area-name{
    margin: 0;
    font-size: 1.3rem;
}

.area-location{
    margin: 0;
    color: #757575;

}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 60%;
    margin-bottom: 10px;
    margin-right: 480px;
  }



  @media (max-width: 1024px) {
    .container {
      width: 80%;
    }
  
    .avatar {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 767px) {
    .container {
      width: 90%;
      padding: 15px;
      margin-bottom: 400px;
    }
  
    .area-item {
      padding: 8px;
    }
  
    .icon-placeholder {
      width: 35px;
      height: 35px;
    }
  
    .area-name {
      font-size: 1.2rem;
    }
  
    .avatar {
      width: 40px;
      height: 40px;
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 479px) {
    .container {
      width: 75%;
      padding: 50px;
      margin-left: 200px;
      margin-top: 500px;
    }
  
    h1 {
      font-size: 1.8rem;
    }
  
    .area-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .icon-placeholder {
      width: 30px;
      height: 30px;
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .area-name {
      font-size: 1.1rem;
    }
  
    .avatar {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
    }
  }
  