.edit-account-container{
    padding: 20px;
    font-family: Georgia, serif;
    background-color: #b2d1f0;
    text-align: center;
    width: 650px;
    margin: 0 auto;
    color: #443c3c;
    border-radius: 10px;
}

.edit-acoount-container{
    font-size: 2em;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

.form-group{
    margin-bottom: 15px;
    text-align: left;
}

label{
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
}
input{
    width: 60%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 4px;
}

.button{
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}

button:hover{
    background-color: #e68900;
}

.arrow{
    display: flex;
}

