

   
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    
  }
  
  .statistics {
    display: flex;
    align-items:center ;
    /* justify-content: space-evenly; */
    height: 200px;
    gap: 40px;
    background-color: white;
    width: 100%;
    margin-top: 30px;
    border-radius: 20px; 
 }
  
  .stat-item {
    background-color: white;
    /* padding: 20px; */
    border-radius: 8px;
    text-align: center;
    margin-right: 190px;
  }
  
  .stat-item h3 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .stat-item p {
    margin: 5px 0 0;
    font-size: 1em;
    margin-left: 20px;
  }
  


 
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    /* flex-grow: 1; */
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-right: 10px;
    text-align: center;
  }
  
  .search-button {
    padding: 4px 16px;
    border: 4px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
  }
  .reload{
    padding: 2px 15px;
    /* border: 4px; */
    background-color: #b5c9de;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 6px;
  }
  .heading{
    margin-left: 20px;
    margin-top:15px;
    display: flex;
    justify-content: space-between;
  }
  .heading p{
    margin-right: 25px;
  }

  .icons{
    background-color: rgb(249, 210, 217);
    border-radius: 30px;
  }
  .head{
    margin-bottom: 150px;
    margin-left: 20px;
  }


  @media (max-width: 768px) {
    .statistics {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .stat-item {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .search-bar input {
        width: 100%;
    }

    .heading {
        flex-direction: column;
        align-items: flex-start;
    }

    .heading p {
        margin-right: 0;
    }
}

/* Adjust layout for mobile devices */
@media (max-width: 480px) {
    .statistics {
        gap: 10px;
    }

    .stat-item h3 {
        font-size: 1.2em;
    }

    .stat-item p {
        font-size: 0.9em;
        margin-left: 0;
    }

    .search-bar input {
        padding: 8px;
    }

    .search-button {
        padding: 4px 12px;
        margin-left: 10px;
    }

    .reload {
        padding: 2px 10px;
        margin-left: 4px;
    }

    .heading {
        margin-left: 10px;
        margin-top: 10px;
    }

    .head {
        margin-bottom: 100px;
        margin-left: 10px;
    }
}