
.form-group{
    margin-bottom: 20px;
}


.submitbutton{
    padding: 0.5em 1em;
  margin-top: 1em;
  margin-right: 0.5em;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
button[type="button"] {
    background-color: #dee2e7;
  }

.p{
  margin-left:30px ;
  margin-top: 15px;
}
.btn{
  border: none;
  margin-left: 15px;
  padding: 0.5em 1.7em;
  border: none;
  background-color: #6c757d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  }
